
.sidebar {
    width: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    gap: 1rem;
    padding: 2rem 1.5rem;
}

.sidebar-item {
    text-decoration: none;
    color: black;
}
.sidebar-item:hover {
    text-decoration: none;
    color: black;
}