

.topbar {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    width: 100vw;
    overflow: hidden;
    height: 3vh;
    background-color: red;
}

.sidebar-open {
    width: 2vw;
    height: 4vh;
    padding: 5px 5px;
    aspect-ratio: 1;
    border-radius: 0;
    margin: 0;
}